/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.phone-frame {
  width: 375px;
  height: 812px;
  border: 16px solid #333;
  border-radius: 36px;
  background-color: #83E2D7;
  ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user-details-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.user-details-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-details-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-circle {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-icon {
  height: 60%;
  width: 60%;
}

.score-circle {
  width: 80px;
  height: 80px;
  background-color: #e0f7fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #00796b;
  margin-top: 10px;
}

.user-details-icons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 24px;
  color: #00796b;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.footer-icon p {
  margin: 5px 0 0;
  font-size: 12px;
}

.input-home {
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: solid  black;
  border-width: 1px 0px 1px 1px;
}

.button-home {
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 1px black;
}